extends layout

mixin formatFragmentSpecEntry(url, specEntry)
  div.fragment
    h3
      - var urlWithFragment = url + specEntry.fragment
      - var fragmentText = decodeURIComponent(specEntry.fragment || '#')
      a(href=urlWithFragment)= fragmentText

    each engine in engines
      - var statusEntries = specEntry.engines[engine]
      if statusEntries
        div.engine
          h4.engine-title(class=engine)= engine
          ul.entry-list
            each statusEntry in statusEntries
              - var status = statusEntry.status
              - var classList = []
              - classList.push(engine)
              - classList.push(status.status)
              - status.behindFlag && classList.push('behindFlag')
              - status.prefixed && classList.push('prefixed')
              li.entry(class=classList)
                - var statusURL = statusEntry.statusURL
                a(href=statusURL) 
                  span.title= statusEntry.title
                div.status
                  span.text= status.originalStatus
                  if status.channel
                    |  (starting 
                    span.channel= status.channel
                    | )
                  if status.behindFlag
                    | 
                    span.behindFlag (behind a flag)
                  if status.prefixed
                    | 
                    span.channel (prefixed)
                  


mixin formatSpecEntry(specEntry)
  section.spec
    h2
      - var url = specEntry.url
      - var urlText = url || '#'
      a(href=url)= urlText

    each fragmentSpecEntry in specEntry.fragments
      +formatFragmentSpecEntry(url, fragmentSpecEntry)

block content
  h1= title
  each specEntry in data
    +formatSpecEntry(specEntry)
  p
    a(href='/') Back to top page
  p Platform Status Data are form  
  ul
    li <a href="https://www.chromestatus.com/features">chromestatus.com</a> (<a href="https://creativecommons.org/licenses/by/2.5/">CC BY 2.5</a>)
    li <a href="https://dev.windows.com/en-us/microsoft-edge/platform/status/">dev.windows.com</a> (<a href="https://creativecommons.org/licenses/by/2.5/">CC BY 2.5</a>)
    li <a href="https://webkit.org/status/">webkit.org</a> (<a href="https://svn.webkit.org/repository/webkit/trunk/Source/WebCore/LICENSE-LGPL-2.1">LGPL</a>)
    li <a href="https://platform-status.mozilla.org/">platform-status.mozilla.org (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY SA 3.0</a>)
