include ./shared/nav-local
extends layout

mixin formatEntry(engine, entry)
  - var id = utils.getPlatformStatusId(engine, entry.id) 
  - var status = entry.status;
  - var classList = [];
  - classList.push(engine);
  - classList.push(status.status);
  - status.behindFlag && classList.push('behindFlag');
  - status.prefixed && classList.push('prefixed');
  li.entry(class=classList, id=id)
    span.title= entry.title
    div.status
      span.text= status.originalStatus
      if status.channel
        |  (starting 
        span.channel= status.channel
        | )
      if status.behindFlag
        | 
        span.behindFlag (behind a flag)
      if status.prefixed
        | 
        span.channel (prefixed)
    div.status-link.link-external
      - var statusUrl = utils.getPlatformStatusUrl(engine, entry.id);
      - var statusHost = utils.getHost(statusUrl);
      - var linkText = 'View the platform status entry (' + statusHost + ')';
      a(href=statusUrl)= linkText


mixin formatEngine(engine, entries)
  div.engine
    h5.engine-name(class=engine)= engine
    ul.entry-list
      each entry in entries
        +formatEntry(engine, entry)


mixin formatFragment(specUrl, fragment)
  - var id = specUrl + encodeURIComponent(fragment.fragment);
  - var fragmentText = decodeURIComponent(fragment.fragment || '#');
  div.fragment(id=id)
    h4.fragment-name= fragmentText

    each engine in engines
      - var entries = fragment.engines[engine]
      if entries
        +formatEngine(engine, entries)


mixin formatURL(urlEntry)
  - var specUrl = urlEntry.url
  - var specHost = utils.getHost(specUrl);
  - var id = specUrl || 'about:blank?url';
  - var href = '/status/url/' + encodeURIComponent(specUrl || 'about:blank');
  - var headingText = specUrl || '(no url was specified)';
  - var linkText = 'View the specification (' + specHost + ')';
  div.url(id=id)
    h3.url-name= headingText
    ul.nav-util
      if pageType !== 'url'
        li.link-internal
          a(href=href) View on standalone page
      if specUrl
        li.link-external
          a(href=specUrl)= linkText

    - var fragments = Object.keys(urlEntry.fragments).sort();
    each fragment in fragments
      +formatFragment(specUrl, urlEntry.fragments[fragment])


mixin formatHost(host, urls)
  - var id = host || 'about:blank?host';
  - var headingText = host || '(no host was specified)';
  - var href = '/status/host/' + encodeURIComponent(host || 'about:blank');
  section.host(id=id)
    h2.host-name= headingText
    ul.nav-util
      if pageType !== 'host'
        li.link-internal
          a(href=href) View on standalone page

    each urlEntry in utils.queryUrlEntriesByHost(urls, host)
      +formatURL(urlEntry)

mixin formatEntity(entity, hosts, urls)
  each host in hosts
    +formatHost(host, urls)


mixin formatTOC(entity, hosts)
  each host in hosts
    - var href = '#' + encodeURIComponent(host || 'about:blank?host');
    - var headingText = host || '(no host was specified)';
    li
      a(href=href)= headingText

block content
  +navLocalEngines('/status/', engines, pageType)
  - var h1String = 'Platform Status: ' + h1;
  - var entities = Object.keys(data.entities).sort();
  h1= h1String
  p Compare the Platform Status data of Chromium, Edge, WebKit and Gecko.
  +lastUpdated()
  div.toc
    h2 Table of Contents
    ul.toc-list
      each entity in entities
        +formatTOC(entity, data.entities[entity])
  each entity in entities
    +formatEntity(entity, data.entities[entity], data.urls)
